@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  background-color: #9C5B36;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #301500;
}

.container {
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none;
}

/* HEADER */
header .container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

header .container .findMovieTitle {
  font-size: 30px;
  font-weight: 700;
}

a {
  color: #301500;
  text-decoration: none;
}

/* SEARCH */

.search .container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 350px;
  background-color: #F2F2EB;
  border-radius: 20px;
}

.search .container .material-symbols-outlined {
  font-size: 25px;
}

.search .container input {
  width: 180px;
  height: 30px;
  border: 0;
  border-bottom: solid 1px #000;
  background-color: transparent;
  font-size: 16px;
  font-family: 'Gowun Dodum', sans-serif;
}

.search .container input:focus {
  outline: none;
}

.search .container .btn-search {
  width: 50px;
  height: 30px;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-family: 'Gowun Dodum', sans-serif;
}

.search .container .btn-search:hover {
  background-color: #9C5B36;
  color: #fff;
  border-radius: 5px;
}

/* MOVIES */
.search-result {
  height: 100%;
  position: relative;
  background-color: #F2F2EB;
  border-radius: 20px;
  margin: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.movies {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 30px;
  padding: 20px;
  margin: 30px;
  font-size: 20px;
}

.movies.hidden {
  display: none;
}

.movie {
  --size: 250px;
  width: var(--size);
  height: calc(var(--size) * 3 / 2);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  transition: .3s;
}

.movie:hover {
  transform: scale(1.1);
  z-index: 9;
}

.movie img {
  width: 100%;
}

.movie div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(4px);
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.btn-more.hidden {
  display: none;
}

.btn-more {
  position: absolute;
  bottom: 20px;
  background-color: #9C5B36;
  color: #fff;
  width: 85px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-more:hover {
  background-color: #F2F2EB;
  color: #9C5B36;
}

/* DETAIL */
.detail {
  position: relative;
  display: flex;
  padding: 20px;
  margin: 30px;
}

.detail .poster {
  position: relative;
  width: 300px;
}

.detail .description {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.title--name,
.released--name,
.genre--name,
.runtime--name,
.plot--name {
  font-weight: 700;
  font-size: 21px;
  margin: 10px 0;
  color: #301500;
}

/* FOOTER */
.copyright {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}